body {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
}
#app{
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#axisY .tick:nth-child(2n) text {
  visibility: hidden;
}
#axisY .tick:nth-child(2n) line {
  visibility: hidden;
}

.commits{
  clip-path: url(#clip);
}
